main {
    background: linear-gradient(90deg, #000470 0%, #000000 100%);
}

.main-section {
    display: grid;
    grid-template-rows: repeat(1);
    grid-template-columns: repeat(12, 1fr);
    padding-top: 10px;
}

p {
    color: aquamarine;
}

.leftbar {
    grid-column: 1/1;
}

.mainbar {
    grid-column: 2/10;
    display: flex;
    align-items: center;
}

.main-bar-text {
    padding: 10px;
}


.mainbar>img {
    max-width: 100%;
}

.rightbar {
    grid-column: 10/13;
}

.rightbar {
    padding-right: 20px;
}

.rightbar-text {
    margin: 20px 0;
    background: linear-gradient(90deg, #000000 0%, #000470 100%);
    padding: 10px;
}

.rightbar>a {
    font-size: 16px;
}

.rightbar-refs {
    font-size: 16px;
    color: #ffffff;
    
}

.buttons {
    background: linear-gradient(90deg, #000470 0%, #000000 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.See-More {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.seemore-btn {
    font-family: Michroma;
    background: linear-gradient(90deg, #000000 0%, #000470 100%);
    color: #dcddff;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 35px;
}

@media (max-width: 1700px) {
    .mainbar {
        flex-direction: column;
        justify-content: center;
    }

       
}

@media (max-width: 1200px) {
    .main-section {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(1);
    }
    
    .leftbar {
        display: none;
    }

    .mainbar {
        grid-row: 1/2;
        grid-column: none;
    }

    .rightbar {
        grid-row: 2/3;
        grid-column: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}